<section class="not-found-page">
  <div>
    <h1>404 &nbsp;&nbsp;;(</h1>
    <p>Page not found</p>
    <div class="btn-zone">
      <a
        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
        routerLink="/home">
        Go back home
      </a>
    </div>
  </div>
</section>
