@import 'src/theme/variables.scss';

.not-found-page {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  /* Set the height to match that of the viewport. */
  height: 100vh;
  /* Set the width to match that of the viewport. */
  width: 100vw;
  background-color: $dark-grey;
  div {
    padding: 10% 0 10% 0;
    text-align: center;
    h1 {
      font-size: 10em;
      margin: 0;
      margin-bottom: 30px;
    }
    p {
      font-size: 2.4em;
      margin-bottom: 30px;
    }
    p, h1 {
      color: orange;
    }
    .btn-zone {
      padding: 0;
    }
  }
}