<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a routerLink="/" class="brand-logo orange-text text-accent-2">INCUB</a>
      <ul class="right hide-on-med-and-down">
        <li *ngFor="let item of linksNavigation"><a routerLink="/{{ item | lowercase }}" class="orange-text text-accent-2">{{item}}</a></li>
        <li><a class="waves-effect waves-light btn orange accent-2" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</a></li>
        <li><a class="waves-effect waves-light btn orange accent-2" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">logout</a></li>
      </ul>
    </div>
  </nav>
</div>