<app-header></app-header>
<main class="container">
  <div class="row">
    <div class="col s12">
      <h2>Manage advisors</h2>
      <blockquote>
        Manage your advisors here.
      </blockquote>
      <a 
        class="waves-effect waves-light btn orange accent-2 scale-transition"
        (click)="toggleForm()"
        [ngClass]="{ 'scale-out': showForm === true }"
      ><i class="material-icons left">add</i>ADD ADVISOR</a>
    </div>
    <div class="col s12" [hidden]="showForm === false">
      <div class="card white">
        <div class="card-content white-text">
          <span class="card-title orange-text text-accent-2">{{ formTitle }}</span>
          <form [formGroup]="form">
            <div class="row">
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="First name"
                    formControlName="firstName"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-error
                    *ngIf="form.controls.firstName.hasError('required')"
                  >
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Last name"
                    formControlName="lastName"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-error
                    *ngIf="form.controls.lastName.hasError('required')"
                  >
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 mb-1">
                <mat-form-field>
                  <textarea 
                    matInput
                    placeholder="Description"
                    formControlName="description"
                    [errorStateMatcher]="matcher"
                  ></textarea>
                  <mat-error
                    *ngIf="form.controls.description.hasError('required')"
                  >
                    Description is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12">
                <button
                  *ngIf="onEdit"
                  class="btn waves-effect waves-light green darken-1 z-depth-0"
                  (click)="editAdvisor()"
                  [disabled]="form.invalid"
                >
                  Submit
                </button>
                <button
                  *ngIf="!onEdit"
                  class="btn waves-effect waves-light green darken-1 z-depth-0"
                  (click)="addAdvisor()"
                  [disabled]="form.invalid"
                >
                  Submit
                </button>
                <button
                  *ngIf="!onEdit"
                  class="btn waves-effect waves-light orange darken-1 z-depth-0"
                  (click)="toggleForm()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card white">
        <div class="card-content white-text">
          <span class="card-title orange-text text-accent-2">Advisor list</span>
          <app-advisor-list
            [advisors]="advisors | async"
            (updatedAdvisorListToHandle)="updatedAdvisorListToHandle($event)"
            (onEditEventToHandle)="onEditEventToHandle($event)"
          ></app-advisor-list>
        </div>
      </div>
    </div>
    <div class="col s12">
      <app-footer></app-footer>
    </div>
  </div>
</main>
