<div class="active-background">
  <div class="centered">
    <h2>IN CUB</h2>
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <p [hidden]="isToLong === false">L'application ne répond pas ? revenez à la <a routerLink="/">page d'accueil</a> </p>
  </div>
</div>
