<table class="highlight responsive-table">
  <thead>
    <tr>
      <th *ngFor="let column of tableColumns" class="grey-text text-darken-1">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let advisor of advisors;trackBy:advisor?._id"
      [advisor]="advisor"
      app-advisor-detail
      (updatedAdvisorList)="updatedAdvisorList($event)"
      (onEditEvent)="onEditEvent($event)"
    ></tr>
  </tbody>
</table>
