<td class="grey-text text-darken-1">
  <b>{{ startup?.name }}</b>
</td>
<td class="grey-text text-darken-1">
  <span>{{ startup?.legalRepresentative }}</span>
</td>
<td class="grey-text text-darken-1">
  <span>{{ startup?.coFoundersNumber | coFoundersNumber }}</span>
</td>
<td class="grey-text text-darken-1">
  <span>{{ startup?.description }}</span>
</td>
<td class="grey-text text-darken-1">
  <span>{{ startup?.address | isAnAddress }}</span>
</td>
<td class="grey-text text-darken-1">
  <span>{{ startup?.advisor?.lastName }} {{ startup?.advisor?.firstName }}</span>
</td>
<td>
  <button class="waves-effect waves-light btn-small blue darken-1 z-depth-0" (click)="toggleEdit(startup)" *ngIf="!onEdit">edit</button>
  <button class="waves-effect waves-light btn-small orange darken-1 z-depth-0" (click)="toggleEdit(startup)" *ngIf="onEdit">cancel</button>
  <button class="waves-effect waves-light btn-small red darken-1 z-depth-0" (click)="deleteStartup(startup?._id)" *ngIf="!onEdit">delete</button>
</td>