<td class="grey-text text-darken-1">
  <b>{{ advisor?.lastName }}</b>
</td>
<td class="grey-text text-darken-1">
  <span>{{ advisor?.firstName }}</span>
</td>
<td class="grey-text text-darken-1">
  <span>{{ advisor?.description }}</span>
</td>
<td>
  <button class="waves-effect waves-light btn-small blue darken-1 z-depth-0" (click)="toggleEdit(advisor)" *ngIf="!onEdit">edit</button>
  <button class="waves-effect waves-light btn-small orange darken-1 z-depth-0" (click)="toggleEdit(advisor)" *ngIf="onEdit">cancel</button>
  <button class="waves-effect waves-light btn-small red darken-1 z-depth-0" (click)="deleteAdvisor(advisor?._id)" *ngIf="!onEdit">delete</button>
</td>
