<app-header></app-header>
<main class="container">
  <div class="row">
    <div class="col s12">
      <h2>Manage startups</h2>
      <blockquote>
        Manage your startups here.
      </blockquote>
      <a 
        class="waves-effect waves-light btn orange accent-2 scale-transition"
        (click)="toggleForm()"
        [ngClass]="{ 'scale-out': showForm === true }"
      ><i class="material-icons left">add</i>ADD STARTUP</a>
    </div>
    <div class="col s12" [hidden]="showForm === false">
      <div class="card white">
        <div class="card-content white-text">
          <span class="card-title orange-text text-accent-2">{{ formTitle }}</span>
          <form [formGroup]="form">
            <div class="row">
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Name"
                    formControlName="name"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-hint align="end"> {{form.controls.name.value?.length}} / 20</mat-hint>
                  <mat-error *ngIf="form.controls.name.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="form.controls.name.hasError('maxlength')">
                    Name can not be more than <strong>20 characters</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Business line"
                    formControlName="businessLine"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-hint align="end"> {{form.controls.businessLine.value?.length}} / 10</mat-hint>
                  <mat-error
                    *ngIf="form.controls.businessLine.hasError('required')"
                  >
                    Business line is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="form.controls.businessLine.hasError('maxlength')">
                    Business line can not be more than <strong>10 characters</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Legal representative"
                    formControlName="legalRepresentative"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-hint align="end"> {{form.controls.legalRepresentative.value?.length}} / 15</mat-hint>
                  <mat-error
                    *ngIf="
                      form.controls.legalRepresentative.hasError('required')
                    "
                  >
                    Legal representative is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="form.controls.legalRepresentative.hasError('maxlength')">
                    Legal representative can not be more than <strong>15 characters</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    type="number"
                    placeholder="Co Founder Number"
                    formControlName="coFoundersNumber"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-error
                    *ngIf="form.controls.coFoundersNumber.hasError('required')"
                  >
                    Co Founder Number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 mb-1">
                <mat-form-field>
                  <textarea 
                    matInput
                    placeholder="Description"
                    formControlName="description"
                    [errorStateMatcher]="matcher"
                  ></textarea>
                  <mat-hint align="end"> {{form.controls.description.value?.length}} / 250</mat-hint>
                  <mat-error
                    *ngIf="form.controls.description.hasError('required')"
                  >
                    Description is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="form.controls.description.hasError('maxlength')">
                    Description can not be more than <strong>250 characters</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="address"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-hint align="end"> {{form.controls.address.value?.length}} / 25</mat-hint>
                  <mat-error *ngIf="form.controls.address.hasError('maxlength')">
                      Address can not be more than <strong>25 characters</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col s12 m6 mb-1">
                <mat-form-field>
                  <mat-label>Choose your advisor</mat-label>
                  <mat-select
                    formControlName="advisor"
                    [errorStateMatcher]="matcher"
                  >
                    <mat-option
                      *ngFor="let advisor of (advisors | async)"
                      [value]="advisor"
                    >
                      {{ advisor.firstName }}&nbsp;{{ advisor.lastName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls.advisor.hasError('required')"
                    >Required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col s12">
                <button
                  *ngIf="onEdit"
                  class="btn waves-effect waves-light green darken-1 z-depth-0"
                  (click)="editStartUp()"
                  [disabled]="form.invalid"
                >
                  Submit
                </button>
                <button
                  *ngIf="!onEdit"
                  class="btn waves-effect waves-light green darken-1 z-depth-0"
                  (click)="addStartUp()"
                  [disabled]="form.invalid"
                >
                  Submit
                </button>
                <button
                  *ngIf="!onEdit"
                  class="btn waves-effect waves-light orange darken-1 z-depth-0"
                  (click)="toggleForm()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card white">
        <div class="card-content white-text">
          <span class="card-title orange-text text-accent-2">Startup list</span>
          <app-startup-list
            [startups]="startups | async"
            (updatedStartupListToHandle)="updatedStartupListToHandle($event)"
            (onEditEventToHandle)="onEditEventToHandle($event)"
          ></app-startup-list>
        </div>
      </div>
    </div>
    <div class="col s12">
      <app-footer></app-footer>
    </div>
  </div>
</main>
