
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$in-cub-primary: mat-palette($mat-indigo);
$in-cub-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$in-cub-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$in-cub-theme: mat-light-theme($in-cub-primary, $in-cub-accent, $in-cub-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($in-cub-theme);

@import "src/theme/variables.scss";

//#main
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif !important;
}

p, span, small, div {
  font-family: 'Raleway', sans-serif !important;
}

.mdl-card, .mdl-data-table {
  width: 100%;
}

blockquote {
  border-color: $orange;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

//#endmain

//#form
input {
  border: none !important;
  color: $dark-grey !important;
  box-shadow: none !important;
  margin: 0 !important;
  height: auto !important;
}

textarea {
  border: none !important;
  color: $dark-grey !important;
  box-shadow: none !important;
  margin: 0 !important;
}

mat-form-field {
  width: 100%;
}

mat-error {
  color: $yellow !important;
  font-weight: bold !important;
}
//#endform

//# CSS card animation
@keyframes card-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    transition: transform .2s ease-out;
  }
}

.card {
  animation-name: card-animation;
  animation-duration: .2s;
}
//# END CSS card animation