<app-header></app-header>
<main class="container">
  <div class="row">
    <div class="col s12"><h1>Welcome to INCUB, application manager for a startup incubator.</h1></div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="collection">
        <a routerLink="/advisors" class="collection-item grey darken-3 orange-text text-accent-2">Manage advisors <span class="new badge orange accent-2e white-text" data-badge-caption="items">{{ (advisors | async)?.length }}</span></a>
      </div>
    </div>
    <div class="col s6 m4" *ngFor="let advisor of (advisors | async | slice: 0:3)">
      <div class="card white">
        <div class="card-content">
          <span class="card-title orange-text text-accent-2">{{ advisor?.firstName }}&nbsp;{{ advisor?.lastName }}️</span>
          <p class="grey-text text-darken-1">{{ advisor?.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="collection">
        <a routerLink="/startups" class="collection-item grey darken-3 orange-text text-accent-2">Manage startups <span class="new badge orange accent-2e white-text" data-badge-caption="items">{{ (startups | async)?.length }}</span></a>
      </div>
    </div>
    <div class="col s6 m4" *ngFor="let startup of (startups | async | slice: 0:3)">
      <div class="card white">
        <div class="card-content white-text">
          <span class="card-title orange-text text-accent-2">{{ startup?.name }}</span>
          <p class="grey-text text-darken-1">{{ startup?.description }}</p>
          <p class="grey-text text-darken-1">head advisor: {{ startup?.advisor?.firstName }} {{ startup?.advisor?.lastName }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>

