<table class="highlight responsive-table">
  <thead>
    <tr>
      <th *ngFor="let column of tableColumns" class="grey-text text-darken-1">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let startup of startups;trackBy:startup?._id"
      [startup]="startup"
      app-startup-detail
      (updatedStartupList)="updatedStartupList($event)"
      (onEditEvent)="onEditEvent($event)"
    ></tr>
  </tbody>
</table>
